# Object files
*.o
*.ko
*.obj
*.elf
*.list
*.map

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.out
*.hex

# Debug files
*.dSYM/
*.su

# Other not required folders
/.metadata/
/RemoteSystemsTempFiles/
/Debug/
/Release/
